
.result_name {
	font-family: Helvetica, Arial, sans-serif;
	font-weight:500;
	font-size: 30px;
	padding-left: 20px;
}

.result_image {
	max-width: 82px;
	max-height: 82px;
}

.subtext {
	padding-top: 20px;
	font-weight: normal;
	line-height: 1;
	color: #999999;
	font-size: 14px;
}

.result_header_about {
	padding-top: 10px;
}

.img_tile {

	/*max-height: 200px;*/
	border: 5px solid #3498db;

}
.result_body_images {
	padding-top: 50px;
}

.img_tile {
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}


.img_tile:hover {
	-webkit-transform: rotate(5deg);
	    -moz-transform: rotate(5deg);
	      -o-transform: rotate(5deg);
	     -ms-transform: rotate(5deg);
	         transform: rotate(5deg);
}

.search_results {
	height: auto;
}