<div class="container" id="mainContainer">
	<div class="row text-center">
		<h3>Search for Startups</h3>
		<%= render 'layouts/form' %>
	</div>
	<hr>
	<div class="row">
		<div class="search_results"></div>
	</div>
</div>

