<div class="border-form-div">
	<form action="<%= new_search_path %>" method="get" >
	  <%= text_field_tag 'q' %>
	  <%= submit_tag "Search", :name => nil, :class => "search_btn btn btn-primary btn-lg"%>
	</form> 
</div>
